.gradient-text {
    background: linear-gradient(90deg, #656666,#09ea09, #db0303);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    animation: gradient 6s ease-in-out infinite;
    
  }
  

  @keyframes gradient{
    0%{
        background-position: 0% 50%;
        

    }
    50%{
        background-position: 100% 50%;
       
    }
    100%{
        background-position: 0% 50%;
        
    }
  }

  .brand-text{
    background: linear-gradient(90deg, #7d7c7d,#e89df1, #ea73f2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: Brush Script MT;
  }

.scrollbar{
    overflow-y:scroll;
}
.scrollbar::-webkit-scrollbar{
display: none;
}